body {
	margin: 0%;
}
.wrap {
	height: 100%;
	margin: 0%;
}

nav {
	width: 20%;
	height: 100%;
	margin: 0%;
	float: right;
	position: fixed;
}

.logo {
	max-width: 100%;
	height: auto;
	width /***/:auto;
	margin-top: 20%;
	margin-bottom: 40%;
}

.logo img {
	max-width: 100%;
	height: auto;
	width /***/:auto;
	margin-left: auto;
	margin-right: auto;
}

#sidenav {
	width: 100%;
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
	padding: 0%;
}

#sidenav li {
	width: 100%;
	height: auto;
	list-style-type: none;
	margin-bottom: 10%;
	font-family:'Futura';
	font-style: italic;
}

#sidenav li:nth-child(3) {
	margin-bottom: 0%;
}

#sidenav li a{
	font-size: 20px;
	margin-right: 10%;
	margin-left: 10%;
	text-decoration: none;
	text-align: center;
	color: black;
	border-radius: 0;
	display: block;
	padding: 20px;
	transition: 0.5s;
}

#sidenav li a:hover {
	color: #BBC000;
	
}

.explanation {
	width: 100%;
	height: auto;
}

.explanation p {
	margin: 0%;
	text-align: center;
}

#pcex img{
	display: block;
	max-width: 50%;
	height: auto;
	width /***/:auto;
	margin-right: auto;
	margin-left: auto;
}


#photoex img{
	display: block;
	max-width: 50%;
	height: auto;
	width /***/:auto;
	margin-right: auto;
	margin-left: auto;
}

#watchex img{
	display: block;
	max-width: 50%;
	height: auto;
	width /***/:auto;
	margin-right: auto;
	margin-left: auto;
}

#lightex img{
	display: block;
	max-width: 18%;
	height: auto;
	width /***/:auto;
	margin-left: 22%;
	float: left;
}

#lightex p {
	display: block;
	margin-top: 20%;
	margin-left: 5%;
	float: left;
}

#treeex img{
	display: block;
	max-width: 40%;
	height: auto;
	width /***/:auto;
	margin-right: auto;
	margin-left: auto;
}

.col-hero {
	width: 80%;
	height: 100%;
	margin: 0%;
	float: right;
}

#mainview1 {
	position: relative;
}
#mainview1 img{
	max-width: 100%;
	height: auto;
	width /***/:auto;
	margin: 0%;
}

/* ページ内リンク系列ページ内リンク系列ページ内リンク系列ページ内リンク系列
ページ内リンク系列ページ内リンク系列ページ内リンク系列ページ内リンク系列ページ内リンク系列 */

#pc {
	width: 7%;
	height: 8%;
	top: 54%;
	bottom: 38%;
	left: 18%;
	right: 75%;
	position: absolute;
}

#pc a {
	display: block;
	width: 100%;
	height: 100%;

}

#photo {
	width: 12%;
	height: 8%;
	top: 60%;
	bottom: 32%
	left: 0%;
	right: 88%;
	position: absolute;
}

#photo a {
	display: block;
	width: 100%;
	height: 100%;

}

#watch {
	width: 2%;
	height: 7%;
	top: 28%;
	bottom: 65%;
	left: 80%;
	right: 18%;
	position: absolute;
}

#watch a {
	display: block;
	width: 100%;
	height: 100%;
}

#light1 {
	width: 3%;
	height: 44%;
	top: 0%;
	bottom: 56%;
	left: 33%;
	right: 64%;
	position: absolute;
}

#light1 a {
	display: block;
	width: 100%;
	height: 100%;

}

#light2 {
	width: 3%;
	height: 35%;
	top: 10%;
	bottom: 55%;
	left: 39%;
	right: 58%;
	position: absolute;
}

#light2 a {
	display: block;
	width: 100%;
	height: 100%;
}

#light3 {
	width: 3%;
	height: 28%;
	top: 17%;
	bottom: 55%;
	left: 43%;
	right: 54%;
	position: absolute;
}

#light3 a {
	display: block;
	width: 100%;
	height: 100%;
}

#tree {
	width: 4%;
	height: 18%;
	top: 45%;
	bottom: 37%;
	left: 37%;
	right: 59%;
	position: absolute;
}

#tree a {
	display: block;
	width: 100%;
	height: 100%;
}