body {
	margin: 0%;
}
.wrap {
	height: 100%;
	margin: 0%;
}

nav {
	width: 20%;
	height: 100%;
	margin: 0%;
	float: right;
	position: fixed;
}

.logo {
	max-width: 100%;
	height: auto;
	width /***/:auto;
	background-image: url(images/dhouselogo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 20%;
	margin-bottom: 40%;
}

.logo img {
	max-width: 100%;
	height: auto;
	width /***/:auto;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    filter: alpha(opacity=0);
}

.logo img:hover {
	opacity: 1;
}

#sidenav {
	width: 100%;
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
	padding: 0%;
}

#sidenav li {
	width: 100%;
	height: auto;
	list-style-type: none;
	margin-bottom: 10%;
	font-family:'Futura';
	font-style: italic;
}

#sidenav li:nth-child(3) {
	margin-bottom: 0%;
}

#sidenav li a{
	font-size: 20px;
	margin-right: 10%;
	margin-left: 10%;
	text-decoration: none;
	text-align: center;
	color: black;
	border-radius: 0;
	display: block;
	padding: 20px;
	transition: 0.5s;
}

#sidenav li a:hover {
	color: #BBC000;
	
}

.container {
	width: 80%;
	height: 100%;
	margin: 0%;
	float: right;
}

#keyblock1 {
	width: 100%;
	height: auto;
	margin: 0%;

}

#keyblock1 ul {
	width: 100%;
	height: auto;
	margin: 0%;
	padding: 0%;
	position: relative;
}

#keyblock1 ul li {
	width: 100%;
	height: auto;
	margin: 0%;
	display: none;
	position: absolute;
}


#keyblock1 img{
	width: 100%;
	height: auto;
}

#keyblock2 {
	width: 100%;
	height: auto;
	margin: 0%;
	overflow: hidden;
	display: block;
}

#about {
	width: 50%;
	height: auto;
	margin: 0%;
	background-image: url(images/about.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

#about img {
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    filter: alpha(opacity=0);
}

#about:hover img {
	opacity: 1;
}


#aboutexplain {
	width: 50%;
	height: auto;
	float: left;
}

#aboutexplain p {
	padding: 3%;

}

#keyblock3 {
	width: 100%;
	height: auto;
	margin: 0%;
	overflow: hidden;
	display: block;
}

#diaryfont {
	width: 50%;
	height: auto;
	float: left;
}

#diaryfont img {
	width: 100%;
	height: auto;
}

#flow {
	width: 50%;
	height: auto;
	background-image: url(images/flow.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

#flow img {
	width: 100%;
	height: auto;
	display: block;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    filter: alpha(opacity=0);
}

#flow:hover img {
	opacity: 1;
}

#keyblock4 {
	width: 100%;
	height: auto;
	margin: 0%;
	overflow: hidden;
	display: block;
}

#flow1 {
	width: 50%;
	height: auto;
	background-image: url(images/flow1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

#flow1 img {
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    filter: alpha(opacity=0);
}

#flow1:hover img {
	opacity: 1;
}

#flow1explain {
	width: 50%;
	height: auto;
	float: left;
}

#flow1explain p {
	padding: 3%;
	font-size: 30;
	font-family:'Futura';
	font-style: italic; 
}

#keyblock5 {
	width: 100%;
	height: auto;
	margin: 0%;
	overflow: hidden;
	display: block;
}

#flow2 {
	width: 25%;
	height: auto;
	background-image: url(images/flow2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 50%;
	float: left;
}

#flow2 img {
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    filter: alpha(opacity=0);
}

#flow2explain {
	width: 25%;
	height: auto;
	float: left;
}

#flow2explain p {
	text-align: center;
	padding: 3%;
	font-size: 30;
	font-family:'Futura';
	font-style: italic;
}

#flow2:hover img {
	opacity: 1;
}

#keyblock6 {
	width: 100%;
	height: auto;
	margin: 0%;
	overflow: hidden;
	display: block;
}

#features {
	width: 50%;
	height: auto;
	background-image: url(images/features.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

#features img {
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    filter: alpha(opacity=0);
}

#features:hover img {
	opacity: 1;
}

#flow3 {
	width: 50%;
	float: left;
	overflow: hidden;
}

#flow3explain {
	width: 50%;
	height: auto;
	float: left;
}


#flow3explain img {
	width: 100%;
	height: auto;
	float: left;
}

#flow3hover {
	width: 50%;
	height: auto;
	background-image: url(images/flow3.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

#flow3hover img {
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    filter: alpha(opacity=0);
}

#flow3hover:hover img {
	opacity: 1;
}

#featuresexplain {
	width: 100%;
	float: left;
	clear: both;
}

#featuresexplain.col-3 {
	clear: both;
}

#featuresexplain p {
	padding: 3%;
}

#keyblock7 {
	width: 100%;
	height: auto;
	margin: 0%;
	overflow: hidden;
	display: block;
}

#watchfont {
	width: 35%;
	height: auto;
	float: left;
}

#watchfont img {
	width: 100%;
	height: auto;
}

#clock {
	width: 65%;
	height: auto;
	float: left;
}

#clock img {
	width: 100%;
	height: auto;
}

#keyblock8 {
	width: 100%;
	height: auto;
	margin: 0%;
	overflow: hidden;
	display: block;
}

#writer {
	width: 35%;
	height: auto;
	background-image: url(images/travelwriter.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

#writer img {
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    filter: alpha(opacity=0);
}

#writer:hover img {
	opacity: 1;
}

#writerexplain {
	width: 65%;
	height: auto;
	float: left;
}

#writerexplain img {
	width: 100%;
	height: auto;
}

footer {
	background-color: black;
	width: 100%;
	height: 30%;
	margin-top: 20%;
	margin-bottom: 0%;
	overflow: hidden;
}

#footernav {
	width: 50%;
	height: 100%;
	margin-left: 0%;
	margin-bottom: 40%;
	padding: 3% 0% 0% 0%;
	float: left;
}

#footernav li {
	width: 100%;
	height: 10%;
	margin-bottom: 2%;
	list-style-type: none;
}

#footernav li a{
	font-size: 20px;
	margin-left: 15%;
	text-decoration: none;
	text-align: left;
	color: white;
	border-radius: 0;
	display: block;
	transition: 0.5s;
}

#footernav li a:hover {
	color: #BBC000;
}

.footerlogo {
	width: 50%;
	height: 100%;
	float: left;
}

.footerlogo img {
	width: 50%;
	height: auto;
	margin-top: 5%;
}

.pagetopbtn {
	position: fixed;
	bottom: 0%;
	top: auto;
	margin-left: 20%;
}

.pagetopbtn img {
	width: 100%;
	height: auto;
	opacity: 0.5;
}



/* ここからサブページここからサブページここからサブページここからサブページ
ここからサブページここからサブページここからサブページここからサブページ */


.explanation {
	width: 100%;
	height: auto;
}

.explanation p {
	margin: 0%;
	text-align: center;
}

#pcex img{
	display: block;
	max-width: 50%;
	height: auto;
	width /***/:auto;
	margin-right: auto;
	margin-left: auto;
}


#photoex img{
	display: block;
	max-width: 50%;
	height: auto;
	width /***/:auto;
	margin-right: auto;
	margin-left: auto;
}

#watchex img{
	display: block;
	max-width: 50%;
	height: auto;
	width /***/:auto;
	margin-right: auto;
	margin-left: auto;
}

#lightex img{
	display: block;
	max-width: 18%;
	height: auto;
	width /***/:auto;
	margin-left: 22%;
	float: left;
}

#lightex p {
	display: block;
	margin-top: 20%;
	margin-left: 5%;
	float: left;
}

#treeex img{
	display: block;
	max-width: 40%;
	height: auto;
	width /***/:auto;
	margin-right: auto;
	margin-left: auto;
}

.col-hero {
	width: 80%;
	height: 100%;
	margin: 0%;
	float: right;
}

#mainview1 {
	position: relative;
}
#mainview1 img{
	max-width: 100%;
	height: auto;
	width /***/:auto;
	margin: 0%;
}

/* ページ内リンク系列ページ内リンク系列ページ内リンク系列ページ内リンク系列
ページ内リンク系列ページ内リンク系列ページ内リンク系列ページ内リンク系列ページ内リンク系列 */

#pc {
	width: 7%;
	height: 8%;
	top: 54%;
	bottom: 38%;
	left: 18%;
	right: 75%;
	position: absolute;
}

#pc a {
	display: block;
	width: 100%;
	height: 100%;

}

#photo {
	width: 12%;
	height: 8%;
	top: 60%;
	bottom: 32%
	left: 0%;
	right: 88%;
	position: absolute;
}

#photo a {
	display: block;
	width: 100%;
	height: 100%;

}

#watch {
	width: 2%;
	height: 7%;
	top: 28%;
	bottom: 65%;
	left: 80%;
	right: 18%;
	position: absolute;
}

#watch a {
	display: block;
	width: 100%;
	height: 100%;
}

#light1 {
	width: 3%;
	height: 44%;
	top: 0%;
	bottom: 56%;
	left: 33%;
	right: 64%;
	position: absolute;
}

#light1 a {
	display: block;
	width: 100%;
	height: 100%;

}

#light2 {
	width: 3%;
	height: 35%;
	top: 10%;
	bottom: 55%;
	left: 39%;
	right: 58%;
	position: absolute;
}

#light2 a {
	display: block;
	width: 100%;
	height: 100%;
}

#light3 {
	width: 3%;
	height: 28%;
	top: 17%;
	bottom: 55%;
	left: 43%;
	right: 54%;
	position: absolute;
}

#light3 a {
	display: block;
	width: 100%;
	height: 100%;
}

#tree {
	width: 4%;
	height: 18%;
	top: 45%;
	bottom: 37%;
	left: 37%;
	right: 59%;
	position: absolute;
}

#tree a {
	display: block;
	width: 100%;
	height: 100%;
}